
@media (max-width: 768px) {
    .nav-a-div {
      margin-top: -19px;
    }

    .footer-2-text {
      font-size: 12px;
      text-align: center;        
      margin: 10px 0 10px 0;
    }

    .footer-copy {
      flex-flow: wrap;
    }

    .footer-img-1 {
      width: 50px;
      height: 19px;
    }

    .footer-img-2 {
      width: 70px;
      height: 25px;
    }

    .absolute-btn {
      border-radius: 0;
    }

    .highlight-grid {
      height: 380px;
    }

    .highlight-title {
      font-size: 30px;
      margin-top: 220px;
    }

    .highlight-title-2 {
      font-size: 15px;
    }

    .highlight-content {
      margin: 10px;
    }

    .highlight-txt {
      font-size: 10px;
    }
}

@media (min-width: 768px) {
  .highlight-grid {
    height: 380px;
  }

  .highlight-title {
    font-size: 30px;
    margin-top: 220px;
  }

  .highlight-title-2 {
    font-size: 15px;
  }

  .highlight-content {
    margin: 10px;
  }

  .highlight-txt {
    font-size: 10px;
  }
}

@media (min-width: 1024px) {
    .mobile-nav {
      display: none;
    }

    .nav-1,
    .nav-2 {
      display: flex;
    }

    .nav-a-div {
      text-align: left;
      padding-left: 25px;
      margin-top: -19px;
    }

    .highlight-1-logo {
      display: flex;
    } 

    .highlight-1::before {
      background: linear-gradient(to bottom,rgba(255, 0 , 0, 0.6), rgba(255, 0, 0, 0.3), rgba(0, 0, 0, 1));   
    }

}