/* General RUle */
html * {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Header */
.mobile-nav {
  display: flex;
  justify-content: space-between;
}

.mobile-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mobile-icons i {
  padding: 20px;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
}

.bars {
  color: red;
}

.bars {
  cursor: pointer;
}

.search,
.desktop-search {
  color:rgb(158, 158, 158);
}

.search:hover {
  color: #ddd;
  cursor: pointer;
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 30%;
  height: auto;
}

.logo-a {
    width: 100%;
    padding: 16px 20px;
    background-color: black; 
}

.logo {
  max-width: 66px;
  height: 16px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header a {
  font-size: 14px;
  color: hsla(0,0%,100%,.6);
  text-decoration: none;
  margin: 0 5px 0 5px;
}


.nav-1 {
  display: none;
  justify-content: space-between;
  background-color: black;
  padding: 3px 20px 3px 20px;
}

.nav-2 {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.nav-2 a {
  color: #aaa;
}

.nav-a-div {
  text-align: center;
  background-color: #fd3;
  padding: 12px;
  color: #333;
}

.nav-a {
  font-family: sans-serif;
  font-size: 11px;
  color: black;
}

.active {
    color: #fff;
    font-weight: bold;
}

.left-border {
    align-self: stretch;
    border-left: solid 1px #eee;
    display: flex;
    align-items: center;
}

.desktop-search {
    padding: 10px;
}

/* Main */

/* Footer */
footer {
  margin-top: 400px; 
}